body{
    background-color: lightblue;
    text-align: center;
}

.navigation{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.navigation a{
    font-size: 28px;
    margin-left: 10px;
    margin-right: 10px;
    color: black;
    text-decoration:none;
    border-bottom: 2px black solid;
    padding-bottom: 5px;
    
}
p{
    width: 600px;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
}
img{
    width: 600px;
    border:3px black solid;
}
.knp{
    background-color: aquamarine;
    width: 120px;
    border:3px black solid;
     margin-left: auto;
    margin-right: auto;
}
